<ion-header translucent="true" class="header-color">
  <ion-toolbar style="height: 100%; background-color: #E3DAC9;" color="black">
    <ion-title class="center-text title-bold">Faculty Member</ion-title>
    <div class="icon-container">
      <ion-icon name="close-circle-sharp" class="cancel-icon" (click)="closeModal()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
  <ion-title class="title center-title" style="margin-top: 20px; margin-bottom: 20px;"></ion-title>

  <ion-content class="ion-padding">
    <div class="ion-text-center">
      <ion-card class="custom-card">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="member.name" style="max-width: 200px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Surname</ion-label>
          <ion-input type="text" [(ngModel)]="member.surname" style="max-width: 200px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Faculty</ion-label>
          <ion-input type="text" [(ngModel)]="member.faculty" style="max-width: 200px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Role</ion-label>
          <ion-select [(ngModel)]="member.role">
            <ion-select-option  value="Admin">Admin</ion-select-option>
            <ion-select-option  value="Member">Member</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" [(ngModel)]="member.email" style="max-width: 200px;"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Staff Number</ion-label>
          <ion-input type="text" [(ngModel)]="member.staffNumber" style="max-width: 200px;"></ion-input>
        </ion-item>
    
      </ion-card>
    </div>
    <div style="display: flex; justify-content: center;">
      <ion-button size="medium" color="primary" (click)="create()">{{passedData ? "Update" : "Create"}}</ion-button>
    </div>
  </ion-content>
</ion-content>
