<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Department and Courses
    </ion-title>
    <ion-button (click)="closeModal()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br> 
  <ion-toggle [(ngModel)]="showAddDepartment"></ion-toggle><ion-label color="warning" >Show Add Course</ion-label>
  <ion-card>
    <ion-item >
      <ion-input [(ngModel)]="department_Name" [clearInput]="true" label="Department Name:" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input [(ngModel)]="department_Abbreviation" [clearInput]="true" label="Department Abbreviation:" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input [(ngModel)]="department_Description" [clearInput]="true" label="Department Description:" labelPlacement="floating"></ion-input>
    </ion-item>
  </ion-card>
 
 
  <ion-card *ngIf="showAddDepartment">
    <ion-item >
      <ion-label>Select Department:</ion-label>
      <ion-select [(ngModel)]="selectedDepartment">
        <ion-select-option *ngFor="let department of departments" [value]="department">{{ department }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="courseName" [clearInput]="true" label="Course Name:" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newCourseAbbreviation" [clearInput]="true" label="Course Abbreviation:" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newCourseModules" [clearInput]="true" label="Number of Course Modules:" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newCourseCredits" [clearInput]="true" label="Credits:" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newCourseDescription" [clearInput]="true" label="Description:" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="addCourse()">Add Course</ion-button>
    </ion-item>
  </ion-card>

 

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let course of courses">
        {{ course.name }} - {{ course.abbreviation }} - Modules: {{ course.modules }} - Credits: {{ course.credits }} - {{ course.description }}
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-button class="save-btn"  (click)= "add_department()">save</ion-button>
</ion-content>
