<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>studentMarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- src/app/progress-circle/progress-circle.component.html -->

<div class="container">
  <div class="progress">
    <h5>85 <span>%</span></h5>
    <h6>average</h6>
  </div>

  <div class="progress">
    <h5>62 <span>%</span></h5>
    <h6>average</h6>
  </div>

  <div class="progress less">
    <h5>60 <span>%</span></h5>
    <h6>average</h6>
  </div>

  <div class="progress">
    <h5>50 <span>%</span></h5>
    <h6>average</h6>
  </div>
</div>
<ion-item>
  <ion-searchbar id="searchKeyword" class="custom-searchbar" placeholder="Search the Course" (ionInput)="searchCourse($event)"></ion-searchbar>
</ion-item>
<ion-card *ngFor="let test of tests">
  <ion-item>{{test}}</ion-item>
</ion-card>


  <!-- <ion-item> -->
    <!-- <div class="container">
      <div class="progress" style="--i:85;--clr:#3333">
        <h6>80% - 100%</h6>
        <h6>average</h6>
      </div>

      <div class="progress" style="--i:85;--clr:#3333">
        <h6>70% - 79%</h6>
        <h6>average</h6>
      </div>

      <div class="progress" style="--i:85;--clr:#3333">
        <h6>60% - 69%</h6>
        <h6>average</h6>
      </div>

      <div class="progress" style="--i:85;--clr:#3333">
        <h6>50% - 59%</h6>
        <h6>average</h6>
      </div>

      <div class="progress" style="--i:85;--clr:#3333">
        <h6>40% - 49%</h6>
        <h6>average</h6>
      </div>
    </div> -->
  <!-- </ion-item> -->
</ion-content>
<!-- <body>
  <div class = "container" >
      <div class = "prograss" style="--i:85;--color:yellow">
        <h5>85 <span>%</span></h5>
        <h6>average</h6>
      </div>

      <div class = "progress" style="--i:85;--color:yellow">
        <h5>62 <span>%</span></h5>
        <h6>average</h6>
      </div>

      <div class = "progress less" style="--i:85;--color:blue;">
        <h5>60 <span>%</span></h5>
        <h6>average</h6>
      </div>

      <div class = "prograss" style="--i:35;--color:red;">
        <h5>50 <span>%</span></h5>
        <h6>average</h6>
      </div>
  </div>
</body> -->