

<ion-header>
  <ion-toolbar color=black style="background-color: #8d2c2c;">
    <ion-title style="text-align: center;font-weight: bolder;color:white;">
       DEPARTMENT OF ICT
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color=light>

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="btn-for-table">
   <ion-button fill="clear" href="/departments"> <ion-icon color='light' class="hideIcon" name="chevron-back-outline" ></ion-icon>
   </ion-button>
   <ion-button fill="clear" (click)="openModal()">
   <ion-icon color='light' class="hideIcon" name="chevron-forward-outline"></ion-icon>
  </ion-button><ion-searchbar class="custom-searchbar" placeholder="Search the Course"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="medium" fill="clear" color="secondary">
        <ion-icon size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-card class="table-card">
    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col class="custom-col" size="1.5">Abbreviation</ion-col>
          <ion-col class="custom-col" size="3">Course Name</ion-col>
          
          <ion-col class="custom-col" size="1">Number of Modules</ion-col>
          <ion-col class="custom-col" size="2">Credits</ion-col>
          <ion-col class="custom-col" size="3">Description</ion-col>
          <ion-col class="custom-col" size="1.5">View Modules</ion-col>
        </ion-row>
        <ion-row class="data-row" *ngFor="let course of courses; let i = index;" (click)="viewCourses(course.numberOfModules)">
          
          <ion-col class="custom-col" size="1.5">{{ course.abbreviation }}</ion-col>
          <ion-col class="custom-col" size="3">{{ course.name }}</ion-col>
          <ion-col class="custom-col" size="1">{{ course.numberOfModules }}</ion-col>
          <ion-col class="custom-col" size="2">{{ course.credits }}</ion-col>
          <ion-col class="custom-col" size="3">{{course.description}}</ion-col>
          <ion-col class="custom-col" size="1.5">
            <ion-button fill="clear" (click)="openModal()">View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  


<ion-grid class="table-card-mobile">
  <ion-row *ngFor="let course of courses">
    <ion-col size="12">
      <ion-card class="data-card" (click)="openModal()">
        <ion-item>
          <ion-card-header class="hidden">
            <div  style="background-color:#8d2c2c; width: 150px; height: 150px; text-align: center; display: flex; align-items: center; justify-content: center; margin: 0 auto;">
              <h2 style="margin: 0;color: white;" >{{course.abbreviation}}</h2>
            </div>
          </ion-card-header>
          <ion-card-content>
            <h1 style="font-weight: bold; font-size: 20px; font-style: italic;">{{course.name}}</h1>
            <p class="mobile-only">Number of Modules: {{ course.numberOfModules }}</p>
            <p>Credits: {{ course.credits }}</p>
          </ion-card-content>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- __________________________________________________________ -->

</ion-content>