.center-text {
    text-align: center;
    font-weight: bold;
  }

  .content-container {
    margin-top: -100px; /* Adjust the value as needed */
  }

  .center-title {
    text-align: center;
  }
  