<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-text">Faculty Member </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <ion-title class="title center-title" style="margin-bottom: 20px;">
    <b>Create Your Profile</b>
  </ion-title>
  
  <ion-card>
  <ion-item>
    <ion-label position="floating">Enter Name</ion-label>
    <ion-input type="text" style="max-width: 200px;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Enter LastName</ion-label>
    <ion-input type="text" style="max-width: 200px;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="text" style="max-width: 200px;"></ion-input>
  </ion-item>
  
</ion-card>  
</ion-content>

