<ion-header [translucent]="true">
  <ion-toolbar style="height:150%; background-color: black;" color="black">
    <ion-title style="color:white">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: url('assets/background1.jpg') no-repeat center / cover;">

<ion-card>
<ion-card-content>
  <br>
 <div class="color2">
  <ion-label >Email Address</ion-label>
  <ion-item class="rounded">
  <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
  </ion-item>
    <br>
    <ion-label class="color3">Password</ion-label>
    <ion-item class="rounded">
      <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    
    <ion-button type="submit" expand="block" >LOGIN</ion-button>
    <div>
    <ion-label>Already have an account?</ion-label>
    <ion-label class="forgotPass">Sign Up</ion-label>
  </div>
    <ion-label>Forgot Password?</ion-label>
    <ion-label class="forgotPass" >Reset</ion-label>

 
  </div>  
</ion-card-content>
</ion-card>
