<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>member</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
    <ion-item class="btn-for-table">
      <ion-searchbar class="custom-searchbar" placeholder="Search the member"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="medium" fill="clear" color="secondary"  (click)="openlectureModal()">
          <ion-icon slot="start" name="Add"></ion-icon>
          Add
        </ion-button>
        <ion-button size="small" fill="clear" color="warning" (click)="openlectureModal()">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Edit
        </ion-button>
        <ion-button size="small" fill="clear"  color="light" >
          <ion-icon slot="start" name="refresh-sharp"></ion-icon>
          Reset
        </ion-button>
      </ion-buttons>
    </ion-item>


  <ion-card class="table-card">
    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col size="3">Name</ion-col>
          <ion-col size="3">Surname</ion-col>
          <ion-col size="3">Email</ion-col>
          <ion-col size="2">Course</ion-col>
          <ion-col size="1">Action</ion-col>
        </ion-row>

        <ion-row class="data-row" *ngFor="let item of tableData">
          <ion-col size="3">{{ item.name }}</ion-col>
          <ion-col size="3">{{ item.surname }}</ion-col>
          <ion-col size="3">{{ item.email }}</ion-col>
          <ion-col size="2">{{ item.course }}</ion-col>
          <ion-col size="1">
          <ion-icon name="create-outline" color="warning"></ion-icon>
          <ion-icon name="close-circle-outline" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



      <ion-grid class="table-card-mobile">
        <ion-row *ngFor="let item of tableData">
          <ion-col size="12">
            <ion-card class="data-card">
              <ion-card-header>
                <ion-card-title>{{ item.name }} {{ item.surname }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Email: {{ item.email }}</p>
                <p>Course: {{ item.course }}</p>
              </ion-card-content>
            <ion-item>
                <ion-button size="small" fill="clear">Edit</ion-button>
                <ion-button size="small" fill="clear">Delete</ion-button>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


  


</ion-content>
