ion-content{
    --background:#333;
}
.icon:hover{
    background-color: #333;
}
.card:hover{
    background-color: #8d2c2c;
    color: white !important;

    header:hover{
        color:white;
    }
}
.custom-searchbar{
    width:60%;
    
}
.card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-content {
    padding: 16px;
  }
  
