ion-content{
    --background:#333;
}
.icon:hover{
    background-color: #333;
}
.card:hover{
    background-color: #8d2c2c;
    color: white !important;

    header:hover{
        color:white;
    }
}
