<ion-header [translucent]="true">
  <ion-toolbar style="height: 100%; background-color: #E3DAC9;" color="black">
    <ion-title class="ion-title">Add Mentor</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <b class="text">Availabe Mentors</b>
    <p>Oluhle, I want you to know that you are truly special. Your presence brightens up my world, and your smile is like a ray of sunshine on even the cloudiest days. Your kindness, warmth, and beauty, both inside and out, are truly captivating. I cherish every moment we share and every memory we create together.

      From the depths of my heart, I want you to hear these three words: I love you. My feelings for you are genuine and deep, and I am grateful to have you in my life. Your uniqueness and the love we share mean the world to me.
      
      Always remember that you are cherished, valued, and loved beyond measure.</p>

  </ion-card>
</ion-content>
