<ion-app>

  <ion-menu menuId="main-menu" content-id="main-content">
    <ion-list >
       <ion-item lines="none" class="avatar">
         <ion-avatar slot="start">
           <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
         </ion-avatar>
         <ion-label class="avatar-info">
          <h2>{{name }}&nbsp;{{surname}}</h2>
           <div clas="online-label-icon">
           <ion-icon name="ellipse" class="online-icon" style="zoom: 0.5; color: green;"></ion-icon>
           <ion-text class="online-label">online</ion-text>
           </div>
         </ion-label>
       </ion-item>
       
       <ion-item-divider></ion-item-divider>
       
       <ion-item routerLink="/admin-dashboard">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-item>
      <ion-item routerLink="/member">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Faculty Member</ion-label>
      </ion-item>
      <ion-item routerLink="/departments">
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label>Departments</ion-label>
      </ion-item>
      <ion-item routerLink="/students">
        <ion-icon name="school-outline" slot="start"></ion-icon>
        <ion-label>Student Management</ion-label>
      </ion-item>
      <ion-item routerLink="/mentors">
        <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
        <ion-label>Mentors</ion-label>
      </ion-item>
      <!-- <ion-item routerLink="/courses">
        
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Courses</ion-label>
      </ion-item> -->
      <ion-item routerLink="/login" >
        <ion-icon name="exit-outline" color="danger" slot="start"></ion-icon> 
        <ion-label color="danger">LogOut</ion-label>
      </ion-item>
     </ion-list>
   </ion-menu>



   <ion-menu menuId="lecturerMenu" content-id="main-content">
    <ion-list>
    <ion-item color="primary" >
            
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    <ion-grid>
   <ion-row >
    <ion-label style="margin-left:-1%;font-size: large;"> Doe John</ion-label>
  </ion-row>
  <ion-row>
    <ion-label>example@gmail.com</ion-label>
  </ion-row>
</ion-grid> 
 </ion-item>
 <ion-item-divider></ion-item-divider>

  <ion-item href="/dashboard">
    <ion-icon name="grid-outline" slot="start"></ion-icon>
    Dashboard
  </ion-item>
  <ion-item href="upload-spreadsheet">
    <ion-icon name="cloud-upload-outline" slot="start"></ion-icon> 
    Upload SpeadSheet
  </ion-item>
  <ion-item href="/view-marks">
    <ion-icon name="book-outline" slot="start"></ion-icon>
   View Marks
  </ion-item>
  <ion-item href="/add-mentor">
    <ion-icon name="person-add-outline" slot="start"></ion-icon>
    Add Mentor
  </ion-item>
  <ion-item href="/login" >
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Logout
  </ion-item>
</ion-list>
   </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-app>
