
/* styles.css */
ion-card {
    text-align: center;
  }

  @media (max-width: 999px) {
    .ion-col {
      margin: 0; /* Adjust margins for small screens */
    }
    
    ion-card {
      padding: 15px; /* Increase padding for readability */
    }
    
    ion-card ion-icon {
      font-size: 60px; /* Decrease icon size for small screens */
    }
    
    .desktop-only {
        display: none; /* Show the column only on mobile view */
      }
      .mobile-Only{
        display: contents !important;
      }
      #desktop-button {
        display: block; /* Show the button for desktop-sized screens */
    }
     
  }
  #desktop-button {
    display: none; /* Initially hide the button */
}
  @media (min-width: 1000px) {
    ion-grid{
      margin-top: 4%;
    }
    ion-card {
      font-size: 80px; /* Increase icon size for desktop screens */
      height: 200px;
        
      ion-icon {
        font-size: 150px; /* Increase icon size for desktop screens */
    
      } 
    
    }
    }
    .mobile-Only{
      display: none;
    }
  .container{
    display:flex;
    background: #8d2c2c;
    height: 100vh;
  
}
ion-list{
  width: 325px;
 }


.data-row:hover{
  background-color: #333;
  color: white !important;
}

ion-card{
  --ion-background-color:#333;
  color:rgb(192, 190, 190);
}
ion-card:hover{
  --ion-background-color:rgb(192, 190, 190);
  color:#8d2c2c;
}
.desktop-only {
  --ion-background-color: rgb(216, 216, 216) !important;/* Show the column only on mobile view */
}
.custom-card {
  background-color: #2c3e50;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  font-size:medium;
}


.custom-card:hover  {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  background-color: rgb(89, 89, 89);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

    
  