
<ion-header >
  <ion-toolbar color="dark" >
    <ion-title color="dark" style="text-align: center;color:white;font-family: 'Times New Roman', Times, serif;font-size: 30px;">Faculty Dashboard</ion-title>
  <ion-buttons slot="start" class="mobile-Only">
    <ion-menu-button (click)="openMenu()">

    </ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
        <div  class="container">
        <ion-list class="desktop-only">
          <ion-item color="primary" >
            
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          <ion-grid>
         <ion-row >
          <ion-label style="margin-left:-1%;font-size: large;">{{ facultyName }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>{{ email }}</ion-label>
        </ion-row>
      </ion-grid> 
       </ion-item>
       <ion-item-divider></ion-item-divider>
        
       <ion-item class="data-row" routerLink="/dashboard" class="Lbutton">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        Dashboard
      </ion-item>
      
      <ion-item class="data-row" routerLink="/upload-spreadsheet">
        <ion-icon name="cloud-upload-outline" slot="start"></ion-icon> 
        Upload Spreadsheet
      </ion-item>
      <ion-item class="item" routerLink="/view-marks">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        View Marks
      </ion-item>
      <ion-item routerLink="/add-student">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Add Mentor
      </ion-item>
      <ion-item routerLink="/login" style="color:red">
        <ion-icon color=red name="log-out-outline" slot="start"></ion-icon>
        Logout
      </ion-item>
      
      </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-card class="custom-card" (click)="navigateToUploadSpreadsheet()">
                <ion-card-content>
                  <ion-icon style="font-size: 100px;"  name="cloud-upload-outline"></ion-icon>
                  <h1>Upload Spreadsheet</h1>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-md="6">
              <ion-card class="custom-card" (click)="navigateToViewMarksPage()">
                <ion-card-content>
                  <ion-icon style="font-size: 100px;" name="book-outline"></ion-icon>
                  <h1>View Student Marks</h1>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-card class="custom-card"  (click)="navigateToModulesPage()">
                <ion-card-content>
                  <ion-icon style="font-size: 100px;" name="clipboard-outline" ></ion-icon>
                  <h1>Modules</h1>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-md="6">
              <ion-card class="custom-card" (click)="navigateToStudentProfile()">
                <ion-card-content>
                  <ion-icon style="font-size: 100px;" name="person-circle-outline"></ion-icon>
                  <h1>Add Mentor</h1>
                </ion-card-content> 
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
</div>
</ion-content>
