/* profile.page.scss */
ion-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
  }
  
  ion-card-header {
    text-align: center;
  }
  
  ion-card-content ion-item {
    border-bottom: 1px solid #eee;
  }
  
  ion-button {
    margin-top: 20px;
  }
  