<ion-header [translucent]="true">
  <ion-toolbar style="height:150%; background-color: black;" color="black">
    <ion-title style="color:white">Sign-Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style ="margin-top:0%;margin-left:0%;margin-right:0%;height: 1000px; background: linear-gradient(to left, white,black);">

  
  <ion-card-content style="background:linear-gradient(to top, #ffffff,black);margin-top:5%;margin-left:30%;margin-right:30%">
  
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <h2 class="ion-text-center" style="font-size: xx-large;font-family: 'Times New Roman', Times, serif;font-weight: bolder;font-style: italic;">Sign Up</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" [(ngModel)]="firstname"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="lastname"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Role</ion-label>
            <ion-input type="text" [(ngModel)]="role"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="success" (click)="signUp()">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <p style="color:black">
    <ion-icon name="arrow-back" style="color:black;"(click)="switch()"></ion-icon>
  Login</p>
  </ion-card-content>
  
  </ion-card>
  </ion-content>
